:root {
    --bg_color: #333;
    --text_color: #fff;
    --transition_time: 0.3s;
}

body {
    background-color: var(--bg_color);
    color: var(--text_color);
    touch-action: manipulation;
}

#header_wrapper {
    display: flex;
    margin: 32px;
}

#header_wrapper > h1 {
    margin: auto;
}

#mana_container {
    display: flex;
    margin: 32px;
}

.mana {
    width: 20%;
    margin: 1em;
    padding: 0px;
}

.mana::after {
    content: "";
    display: block;
    padding-bottom: 100%;
    border-radius: 100%;
}

.add_mana, .remove_mana {
    background: #000;
    position: absolute;
    width: 100%;
    padding-bottom: 50%;
    opacity: 0%;
    transition: var(--transition_time);
}

.add_mana {
    border-radius: 100vw 100vw 0px 0px;
}

.remove_mana {
    border-radius: 0px 0px 100vw 100vw;
    top: 50%;
}

.add_mana:hover, .remove_mana:hover {
    transition: var(--transition_time);
    opacity: 50%;    
}

.plus_mana, .minus_mana {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: calc(6 * 100%);
    pointer-events: none;
}

.plus_mana {
    transform: translate(-50%, -85%);
}

.minus_mana {
    transform: translate(-50%, -33%);
}

.mana_black > .add_mana, .mana_black > .remove_mana {
    background: #FFF;
}

.mana_white {
    color: #AAA;
}

.count {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    font-size: calc(6 * 100%);
    color: #FFF;
}

.mana_red::after {
    background-color: #FF1744;
}

.mana_green::after {
    background-color: #00E676;
}

.mana_blue::after {
    background-color: #2196F3;
}

.mana_white::after {
    background-color: #FFF;
}

.mana_black::after {
    background-color: #000;
}

.reset_wrapper {
    display: flex;
    margin: 128px 48px auto;
}

.reset_wrapper > button {
    width: 100%;
    border-radius: 8px;
    border: none;
    background-color: #AB72FE;
    color: white;
    font-size: 32px;
    transition: var(--transition_time);
}

.reset_wrapper > button:active {
    background-color: #7867E6;
    transition: var(--transition_time);
}