:root {
    --bg_color: #222;
    --text_color: #fff;
    --transition_time: 0.3s;
}

body {
    background-color: var(--bg_color);
    color: var(--text_color);
}

#head_wrapper {
    display: grid;
    margin: 32px;
}

#head_wrapper > h1, #head_wrapper > h2 {
    margin: auto;
}

#head_wrapper > h1 {
    font-size: 2em;
    letter-spacing: 12px;
}

#head_wrapper > h2 {
    font-size: 2em;
    letter-spacing: 8px;
    font-weight: 100;
}

#card_wrapper {
    margin-top: 32px;
}

#card_wrapper iframe {
    position: absolute;
    left: 0px;
    border-radius: 24px;
    border: 12px #333 solid;
    pointer-events: none;
}

.site_card {
    background-color: #333;
    padding-bottom: 50%;
    margin: 1em;
    border-radius: 20px;
    transition: var(--transition_time);
}

.site_card:hover {
    transform: scale(1.02);
    transition: var(--transition_time);
}

@keyframes rainbow {
    0%{background-position:0% 50%}
    50%{background-position:100% 25%}
    100%{background-position:0% 50%}
}

.site_card.empty_card span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: linear-gradient(45deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%);
    background-size: 800% 800%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.site_card.empty_card:hover span {
    animation: rainbow 8s ease infinite;
}
